@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --primary-color: #ff7738;
    --primary-hover-color: #cc5e2b;
}
body, a, p, h1, h2, h3, h4, h5, h6, li {
    font-family: "Roboto", sans-serif;
}
a {
    position: relative;
    text-decoration: none;
    color: var(--primary-color);
    font-weight: normal;
}
nav {
   user-select: none;
   margin-bottom: 20px;
}
nav a {
    font-weight: bold;
}
a:hover {
    color: var(--primary-hover-color); /* Darker shade on hover */
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body {
    width: 100%;
    max-width: 1200px;
    margin-left: 0;
    padding-left: 0;
    margin: 0 auto;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}
.feather {
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
}
.list {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    width: 90%;
}
.post {
    width: auto;
    padding: 20px;
    border: 1px solid #ccc;
    /* background-color: #f0f0f0; */
    margin: 20px;
}
.post-header {
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 10px;
}
.post-content {
    max-height: 200px; /* Limit the height of the content */
    overflow: hidden;
    position: relative;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 85%, rgba(255, 255, 255, 0)); /* Adjust the gradient to start later */
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0)); /* Adjust the text fade to start later */
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0));
}
.post-tags {
    font-weight: 300;
}
.post-date {
    font-weight: 200;
    color: var(--primary-color);
}
.post-more {
    float: right;
    text-align: right;
    margin: -10px;
}
.no-content {
    font-weight: 300;
    user-select: none; 
}
.codehilite {
    max-width: 100vw;
    overflow-x: auto;
    white-space: nowrap;
}

.mermaid polygon, .mermaid rect {
    fill: var(--primary-color) !important;
    stroke-width: 2 !important;
    stroke: #000000 !important;
}
.mermaid * {
    font-family: "Roboto", sans-serif !important;
    font-size: 12px;
    font-weight: bold;
    color:#000000 !important;
}
.admonition{
    padding: 15px 20px;
    padding-bottom: 0 !important;
    margin-bottom: 20px;
    border: 1px solid #448aff;
    border-radius: 4px;
    box-shadow: 0 0.2rem 0.5rem #0000000d,0 0 0.05rem #0000001a;
    color: #222222;
}
.admonition::before {
    position: absolute;
    margin-left: 0;
    margin-top: -5px;
}
.admonition-title {
    font-weight: bold;
    padding: 10px 20px;
    padding-left: 6rem; 
    margin: -15px -20px 0 -20px;
    border-radius: 4px 4px 0 0;
}
.admonition-title + * {
    margin-top: 15px;
}
.admonition-title a {
    color: green;
}

/* Danger/warning (orange) */

.admonition.danger::before, .admonition.warning::before {
    content: "⚠️";
    color: darkorange;
    filter: sepia(60%) saturate(1.5);
}
.admonition.danger, .admonition.warning{
    border-color: #ff9800;
}
.admonition.danger .admonition-title, .admonition.warning .admonition-title {
    background-color: #ffe0b2;
}

/* Important (green) */

.admonition.important::before {
    content: "❗";
    color: green;
    filter: sepia(1) saturate(5)  hue-rotate(90deg);
}
.admonition.important{
    border-color: #4caf50;
}
.admonition.important .admonition-title {
    background-color: #c8e6c9;
}

/* Note (blue) */

.admonition.note::before {
    content: "✏️";
    color: royalblue;
    filter: sepia(1) saturate(3) hue-rotate(180deg);
}
.admonition.note {
    border-color: #00b8d4;
}
.admonition.note .admonition-title {
    background-color: #d9edf7;
}

/* Tip (gold) */

.admonition.tip::before {
    content: "💡";
    color: goldenrod;
    filter: sepia(50%) saturate(3) hue-rotate(-10deg);
}
.admonition.tip{
    border-color: #ffc107;
}
.admonition.tip .admonition-title {
    background-color: #ffecb3;
}