<!DOCTYPE html>
<html lang="en">
  <head>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">  
  <link rel="icon" href="{{ url_for('static', filename='favicon.svg') }}">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{ data.page_title }}</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js" defer></script>
  <script src="{{ url_for('static', filename='mathjax-config.js') }}" defer></script>
  <script type="text/javascript" id="MathJax-script" defer
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
  </script>
  </head>
  <body>
	{% include 'nav.html' %}
	{{ data.html|safe }}
  {% if data.list %}
    {% include 'list.html' %}
  {% endif %}
	<script>
		document.addEventListener("DOMContentLoaded", function() {
      document.body.style.opacity = "1";
			feather.replace();
		});
	</script>
  </body>
</html>
