<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{ data.page_title }}</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js" defer></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script>
      window.MathJax = {
        tex: {
          inlineMath: [['$', '$'], ['\\(', '\\)']],
		  displayMath: [['$$', '$$'], ["\\[","\\]"]],
        },
        startup: {
          typeset: false,
          ready: function() {
            MathJax.startup.defaultReady();
            MathJax.typesetPromise().then(() => {
				document.body.style.opacity = "1";
            });
          }
        }
      };
    </script>   
  </head>
  <body>
	{% include 'nav.html' %}
	{{ data.html|safe }}
  {% if data.list %}
    {% include 'list.html' %}
  {% endif %}
	<script>
		document.addEventListener("DOMContentLoaded", function() {
			feather.replace();
		});
	</script>
  </body>
</html>
